//- mixin ul(ul, li, a, value, value2, value3)
//-     ul(class = ul)
//-         li(class = li): a(class = a href="#") #{value}
//-         li(class = li): a(class = a href="#") #{value2}
//-         li(class = li): a(class = a href="#") #{value3}
//- mixin svgMono(name)
//-     svg(class="ico ico-mono-" + name)
//-         use(xlink:href= '../../icons/' +  name + '.svg' class="ico ico-mono-" + name )