
include pug/shared/_mixins.pug
<!DOCTYPE html>
html(lang="en")
    head
        include pug/shared/_head.pug

    body
        //- include pug/sect/_header
        //srcipt
        include pug/shared/_script
    

               